@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;

}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --scrollbar-track: transparent;
  --scrollbar-width: 4px;
  background-color: var(--color-bg-primary);
}


/* dark theme */
.dark {

  --scrollbar-thumb: var(--color-accent);
  --color-bg-primary: #151b22;
  --color-bg-secondary: #18242e;
  --color-text-dark: #202f3c;
  --color-bg-nav: #18242e;
  --color-text-primary: #eeeeee;
  --color-text-secondary: #d7d7d7;
  --color-text-body: #eff3f8;
  --color-text-nav: #e55d5d;
  --color-text-contrast: #edf0f3;
  --color-accent: #e55d5d;
}

.light {
  --scrollbar-thumb: var(--color-accent);
  --color-bg-primary: #edf0f3;
  --color-bg-secondary: #e0e7eb;
  --color-bg-nav: #2f7bb9;
  --color-text-dark: #edf0f3;
  --color-text-primary: #333333;
  --color-text-secondary: #3a3a3a;
  --color-text-body: #373737;
  --color-text-nav: #edf0f3;
  --color-text-contrast: #1f2834;
  --color-accent: #2f7bb9;
}

.page-title {
  @apply text-3xl lg:text-4xl 2xl:text-5xl font-bold font-display;
}

pre {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-track);
}

pre::-webkit-scrollbar,
.custom-scroll::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

pre::-webkit-scrollbar-track,
.custom-scroll::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

pre::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-width);
}
